.business-create-form {
   margin-bottom: 45px;
}

.business-create-header {
    position: relative;
    z-index: 2;
    font-family: Helvetica Neue, Arial, Helvetica;
    padding: 13px;
    text-align: center;
    margin-top: 12px;
    border-top: 20px solid orange;
    // border-bottom: 1px solid black;
}

.business-create-form input {
    border-radius: 5px;
    padding: 4px;
}

.business-create-body {
    border-top: 15px solid orange;
    display: flex;
    // background-color: #33ffff;
    justify-content: space-evenly;
}

#yellowchair { 
    // z-index: 3;
    // background-color: orange;
     background-color: red;
    //  border-top: 15px solid white;
}

#yellowchair img {
    z-index: 3;
    width: 300px;
}

#coffeecups {
    // z-index: 3;
    background-color: #4fb5cf;
    // background-color: orange;
    // border-top: 15px solid red;
    // background-color: red;
}

#coffeecups img {
    z-index: 3;
    width: 300px;
}

.business-create-body form {
    justify-content: center;
}

.business-create-bizinfo {
    padding: 30px;
    // font-weight: 300;
    font-family: Helvetica Neue, Arial, Helvetica;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #e6e6e6;
}

.business-create-bizinfo label {
    font-weight: strong;
}

.business-create-bizinfo label div {
    padding: 8px;
}

.business-create-bizhours {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    display: grid;
    padding: 30px;
    justify-content: center;
}

.business-create-bizhours label {
    padding: 5px;
}

.business-create-bizhours div {
    padding: 5px;
}

select {
    padding: 5px;
}

.bizhours-grid1 {
    grid-column: 1;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-content: space-between;
    // align-items:
}

.bizhours-grid2 {
    grid-column: 2;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-content: space-between;
}

.business-create-bizphoto {
    padding: 30px;
}

#createbizname {
    font-weight: strong;
}

// #createbizcategory {

// }

// #createbizdelivery {

// }

// #createbiztakeout {

// }

// #createbizpricepoint {

// }

// #createbizwebsite {

// }

// #createbizphonenumber {

// }

#createbizaddress1 {
    width: 300px;
}

// #createbizaddress2 {

// }

#business-create-button {
    text-align: center;
    margin-bottom: 20px;
}

#business-create-button input {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}


#business-create-button input:hover {
    // background-color: #c7ffff;
    padding: 5px;
    color: #4fb5cf;
    border: blue solid 1px;
    font-weight: 700;
}