.indexpage {
    font-family: Helvetica Neue, Helvetica, Arial;
    color: #333333;
}

#clear-filters {
    margin-left: 70px;
}

#clear-filters button {
    padding: 3px 8px;
    border-radius: 5px;
    border: #a6a6a6 solid 1px;
    background-color: #f7f7f7;
    font-size: 12px;
}

#clear-filters button:hover {
    border: #8d3b9c solid 1px;
    color: #8d3b9c;
}

.filters {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.filters label {
    padding: 20px;
}

.filters select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px;
    text-align-last: center;
}

.filters select:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px;
    border: #0E87FF solid 1px;
    color: #0E87FF;
}

.indexpage-filters {
    margin-top: 5px;
    background-color: #f5f5f5;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
}

.filters button {
    padding: 4px 8px;
    border-radius: 5px;
    vertical-align: middle;
    border: #a6a6a6 solid 1px;
    background-color: #f7f7f7;
}

.filters button:hover {
    border: #0E87FF solid 1px;
    color: #0E87FF;
}

.filter-tags {
    display: flex;
    margin-left: 5%;
}

.filter-tags div {
    margin-right: 10px;
    color: #0E87FF;
    font-size: 12px;
    border: 1px solid #0E87FF;
    padding: 4px 8px;
    border-radius: 5px;
}

#showing-filters {
    color: #0E87FF;
    font-size: 14px;
    border: none;
    margin-left: -5px;
    margin-right: -2px;
}

#query-italic {
    font-style: italic;
}

#minmax-pair {
    padding: 2px;
}

#maxpricepoint {
    margin-left: 5px;
}

.indexpage-filters:after {          
    content: "";       
    display: block;    
    clear: both;
}

.indexpage-grid {
    display: grid;
    width: 100%;
    margin-bottom: 20px;
}

.indexpage-businesses {
    grid-column: 1;
    padding: 18px;
    margin-left: 8%;
    margin-right: 340px;
}

.indexpage-map {
    grid-column: 2;
    padding: 18px;
    right: 2%;
    top: 35%;
    margin-top: 30px;
    z-index: 3;
    position: fixed;
    font-family: Brush Script Std;
    text-align: center;
}

.index-item {
    display: flex;
    margin-left: 12px;
    padding: 20px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

#index-pic img {
    object-fit: cover;
    width: 210px;
    height: 210px;
    border-radius: 2%
}

.index-item-info {
    padding: 20px;
    font-size: 14px;
    line-height: 1.28571 em;
}

.index-item-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-right: 250px;
    // background-color: yellow;
}

.index-item-info-grid #col1 {
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    // margin-right: 10px;
    float: left;
    // background-color: red;
}

.index-item-info-grid #col2 {
    text-align: right; 
    display: flex;
    justify-content: right;
    margin-left: 8%;
    flex-direction: column;
    flex-wrap: nowrap;
    float: right;
    // background-color: red;
}

.index-item-info #name {
    color: #0073bb;
    font-size: 16px;
    font-weight: 600;
}

#bullet {
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
}

#pricepoint-block {
    display: flex;
    width: 120px;
    // background-color: blue;
}

.index-item-info #rating {
    color: #FF003C;
}

.index-item-info #reviewcount {
    color: #666666;
    line-height: 1.28571em;
    margin-left: 8px;
}

#recentreview {
    font-size: 14px;
    margin-top: 15px;
    width: 100%;
    font-weight: 700;
}

#recentreview:nth-child(2) {
    font-style: italic;
    text-indent: 1.5em;
}

#werd {
    font-weight: 500;
    margin-bottom: 10px;
}

#no-biz-message {
    font-weight: 600;
}