.indexpage {
    font-family: Helvetica Neue, Helvetica, Arial;
    color: #333333;
}

.filters label {
    padding: 10px;
}

.filters select {
    padding: 5px;
}

.indexpage-filters {
    margin-top: 5px;
    background-color: #f5f5f5;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    // position: relative;
}

.filters button {
    padding: 6px;
    border-radius: 4px;
    vertical-align: middle;
    // display: flex;
    // justify-content: center;
}

.indexpage-filters:after {          
    content: "";       
    display: block;    
    clear: both;
}

.indexpage-grid {
    display: grid;
    width: 100%;
}

.indexpage-businesses {
    grid-column: 1;
    padding: 18px;
    margin-left: 8%;
    margin-right: 340px;
}

.indexpage-map {
    grid-column: 2;
    padding: 18px;
    right: 2%;
    top: 35%;
    z-index: 3;
    position: fixed;
    font-family: Brush Script Std;
    text-align: center;
}

.index-item {
    display: flex;
    margin-left: 12px;
    padding: 18px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

#index-pic img {
    object-fit: cover;
    width: 210px;
    height: 210px;
    border-radius: 2%
}

.index-item-info {
    padding: 20px;
    font-size: 14px;
    line-height: 1.28571 em;
}

.index-item-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-right: 250px;
    // background-color: yellow;
}

.index-item-info-grid #col1 {
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    // margin-right: 10px;
    float: left;
    // background-color: red;
}

.index-item-info-grid #col2 {
    text-align: right; 
    display: flex;
    justify-content: right;
    margin-left: 8%;
    flex-direction: column;
    flex-wrap: nowrap;
    float: right;
    // background-color: red;
}

.index-item-info #name {
    color: #0073bb;
    font-size: 16px;
    font-weight: 600;
}

#bullet {
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
}

#pricepoint-block {
    display: flex;
    width: 120px;
    // background-color: blue;
}

.index-item-info #rating {
    color: #FF003C;
}

.index-item-info #reviewcount {
    color: #666666;
    line-height: 1.28571em;
    margin-left: 8px;
}

#recentreview {
    font-size: 14px;
    margin-top: 15px;
    width: 100%;
    font-weight: 700;
}

#werd {
    font-weight: 500;
    margin-bottom: 10px;

}