.indexpage {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-color: #333333;
}

.indexpage-filters {
    background-color: #f5f5f5;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
    position: relative;
}

.indexpage-grid {
    display: grid;
}

.indexpage-businesses {
    grid-column: 1;
    padding: 18px;
}

.indexpage-map {
    grid-column: 2;
    padding: 18px;
    right: 2%;
    // top: 35%;
    top: 45%;
    z-index: 3;
    position: fixed;
    font-family: Brush Script Std;
    text-align: center;
}

.index-item {
    display: flex;
    margin-left: 12px;
    padding: 18px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

}

.index-item img {
    object-fit: cover;
    width: 210px;
    height: 210px;
    border-radius: 2%
}

.index-item-info {
    padding: 20px;
    font-size: 14;
    line-height: 1.28571 em;
}

.index-item-info #name {
    color: #0073bb;
    font-size: 16;
}

#bullet {
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
}

.index-item-info #rating {
    color: #FF003C;
}

.index-item-info #reviewcount {
    color: #666666;
    line-height: 1.28571em;
    margin-left: 8px;
}

#recentreview {
    font-size: 14px;
    margin-top: 15px;
}

#werd {
    font-weight: 500;
    margin-bottom: 10px;

}