#button-link-to-index {
    background-color: orange;
    height: 10px;
    align-items: left;
    margin-top: 10px;
}

#button-link-to-index button {
    padding: 4px 8px;  
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

#button-link-to-index button:hover {
    color: blue;
    border: 1px solid blue;
}

.business-show-profile {
    margin-bottom: 20px;
}

.profile {
    font-family: Helvetica Neue, Arial, Helvetica;
    margin-bottom: 60px;
    width: 100%;
}

.profile h3 {
    font-family: Brush Script Std;
    font-size: 30px;
}

#profile-pics-holder {
    display: block;
    padding: 0;
}

#profile-pics {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
}

.profile-pic {
    width: calc((100% - 12px)/4);
    margin: 2px;
    object-fit: cover;
}

.profile-minus-pics {
    margin-left: 8%;
    margin-right: 8%;
}

.profile-name-section {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

#bizname {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: strong;
}

#bizrating-section {
    margin-bottom: 7px;
}

#bizcategory {
    color: #0073bb;
}

#bizrating {
    color: #FF003C;
}

#bizreviewcount {
    color: #666666;
    line-height: 1.28571em;
    margin-left: 8px;
}

.profile-attributes {
    font-size: 14px;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    flex-direction: column;
}

.profile-attributes #row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-attributes div {
    display: flex;
    padding: 10px;

}

.profile-map-and-info {
    display: grid;
    border-bottom: 1px solid #e6e6e6;
}

.profile #fakeh4 {
    font-size: 18px;
    font-weight: bold;
}

.profile-map {
    grid-column: 1;
    width: 300px;
    height: 300px;
    padding: 30px;
}

.profile-hours {
    grid-column: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #e6e6e6;
}

.profile-hours #fakeh4 {
    margin: 0 auto;
    margin-bottom: 5px;
}
.profile-hours select {
    text-align-last: center;
}

.profile-hours > span {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 15%;
}

.profile-info {
    grid-column: 3;
    padding: 10px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #e6e6e6;
}

.profile-info #fakeh4 {
    margin-bottom: 20px;
}

#bizwebsite {  
    color: #0073bb;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    border-top: 1px solid #e6e6e6;
    padding-top: 30px;
}

#bizphonenumber {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 27px;
    padding-bottom: 27px;
}

#bizaddress1 {
    padding-top: 25px;
    font-weight: strong;
}
 
#bizaddress2 {
    font-weight: strong;
    padding-bottom: 25px;
    margin-top: 10px;
}

.business-review-link a {
    text-decoration: none;   
    color: purple;
}

.business-review-link a:hover {
    color: blue   
}

.business-review-link button {
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid purple;
    background-color: white;
}

.business-review-link button:hover {
    border: 1px solid blue;
    color: blue;
}





