
#button-link-to-index {
    color: white;
    padding: 1.5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar #bizbutton {
    color: white;
    height: 16px;
    margin-right: 11px;
}

#delivery-word {
    font-size: 15px;
}

#takeout-word {
    font-size: 15px;
}

#magnifying-glass {
    height: 34px;
    background-color: white;
    padding: 7px;
    // filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    border-radius: 7px;
    margin-left: 1px;
}

#paperplane {
    height: 18px;
    margin-right: 5px;
}

#shoeprints {
    height: 18px;
    transform: rotate(-52deg);
    margin-right: 5px;
}

#userbutton {
    height: 70px;
}
