
#button-link-to-index {
    color: white;
    padding: 1.5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .fa-building {
    color: white;
    font-size: 14px;
    margin-right: 7px;
}

.yallr-name .fa-snowflake {
    font-size: 30px;
    margin-left: 10px;
    color: lightblue;
}

#white-magnifying-glass {
    height: 33px;
    padding: 5px;
    margin-left: 1px;
}

#white-magnifying-glass:hover {
    border-radius: 7px;
    background-color: lightblue;
    border: 1px solid white;
}

.navsearch #white-magnifying-glass {
    height: 25px;
    padding: 5px;
    margin-left: 5px;
}

.navsearch #white-magnifying-glass:hover {
    border-radius: 7px;
    background-color: lightblue;
    border: 1px solid white;
}

.fa-paper-plane {
    font-size: 14px;
    margin-right: 5px;
}

.fa-shoe-prints {
    font-size: 14px;
    transform: rotate(-52deg);
    margin-right: 5px;
}

.fa-wheelchair {
    font-size: 14px;
    margin-right: 5px;
    color: blue;
}

.fa-credit-card {
    font-size: 14px;
    margin-right: 5px;
    color: blue;
}

.fa-cc-apple-pay {
    font-size: 14px;
    margin-right: 5px;
    color: blue;
}

.fa-google {
    font-size: 14px;
    margin-right: 5px;
    color: blue;
}

.fa-seedling {
    font-size: 14px;
    margin-right: 5px;
    color: green;
}

.fa-leaf {
    font-size: 14px;
    margin-right: 5px;
    color: green;
}

.fa-transgender {
    font-size: 14px;
    margin-right: 5px;
    color: purple;
}

.fa-wifi {
    font-size: 14px;
    margin-right: 5px;
    color: purple;
}

.fa-parking {
    font-size: 14px;
    margin-right: 5px;
    color: blue;
}

.fa-baby-carriage {
    font-size: 14px;
    margin-right: 5px;
    color: purple;
}

.fa-dog {
    font-size: 14px;
    margin-right: 5px;
    color: purple;
}

.fa-users {
    font-size: 14px;
    margin-right: 5px;
    color: blue;
}

.fa-cloud-sun {
    font-size: 14px;
    margin-right: 5px;
    color: purple;
}

.fa-calendar-check {
    font-size: 14px;
    margin-right: 5px;
    color: blue;
}

.profile-attributes .fa-paper-plane {
    color: purple;
}

.profile-attributes .fa-shoe-prints {
    color: purple;
}

.fa-clock {
    font-size: 14px;
    margin-right: 5px;
    // color: grey;
}

#crossed-circle {
    height: 11px;
    margin-right: 5px;
}

.fa-utensils {
    font-size: 14px;
    margin-right: 6px;
    color: white;
}

.homepage-categories .fa-paper-plane {
    font-size: 14px;
    margin-right: 6px;
    color: white;
}

.fa-github {
    font-size: 16px;
    color: white;
    margin: 5px;
    width: 65px;
}

.fa-linkedin {
    font-size: 16px;
    color: white;
    margin-left: 10px;
    width: 175px;
}

.fa-user-circle {
    font-size: 70px;
    color: lightblue;
}

.fa-check-circle {
    color: green;
    margin-right: 5px;
}

.fa-grin-alt {
    margin-left: 5px;
    color: white;
}

.fa-palette {
    margin-left: 10px;
    color: purple;
    font-size: 25px;
}

.fa-palette:hover {
    color: darkblue;
}

.fa-arrow-up {
    margin-left: 5px;
}

.fa-star {
    color: red;   
}

.fa-star-half {
    color: red;   
}

#click-stars .fa-star {
    color: red;
    font-size: 19px;
    padding: 2px;
}


