
#button-link-to-index {
    color: white;
    padding: 1.5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar #bizbutton {
    color: white;
    height: 14px;
    margin-right: 7px;
}

#blue-snowflake {
    height: 27px;
    margin-left: 8px;
}

#white-magnifying-glass {
    height: 34px;
    // background-color: red;
    padding: 7px;
    border-radius: 7px;
    margin-left: 1px;
}

#white-magnifying-glass:hover {
    border: white solid 1px;
}

#paperplane {
    height: 14px;
    margin-right: 5px;
}

#grey-clock {
    height: 14px;
    margin-right: 5px;
}

#crossed-circle {
    height: 11px;
    margin-right: 5px;
}

#shoeprints {
    height: 14px;
    transform: rotate(-52deg);
    margin-right: 5px;
}

#white-utensils {
    height: 14px;
    margin-right: 6px;
}

#white-paper-plane {
    height: 14px;
    margin-right: 6px;
}

#white-sun {
    height: 14px;
    margin-right: 6px;
}

#userbutton {
    height: 70px;
}
