.credits {
    padding: 30px;
}

.credits h2 {
    text-align: center;
    font-size: 35px;
    font-family: Brush Script Std;
    color: black;
    //  text-shadow:
    //     -1px -1px 0 red,
    //     1px -1px 0 red,
    //     -1px 1px 0 red,
    //     1px 1px 0 red;
}

.credits h3 {
    text-align: center;
    color: darkblue;
    font-size: 28px;
    font-family: Brush Script Std;
}


.credits p {
    text-indent: 2em;
}

.credits button {
    width: 150px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid blue;
    color: blue;
}

.credits button:hover {
    border: 1px solid purple;
    color: purple;
}

.credits .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.credits h4 {
    color: purple;
}

.credits #pair {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.credits #pair div {
    padding: 5px;
}

#art-title {
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    color: rgb(0, 135, 121);
}

#artist {
    font-weight: 600;
}