#everything-but-footer:after {
    content: "";       
    display: block;    
    clear: both;
}

.footer {
    background-color: orange;
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// #thx {
//     font-family: Brush Script Std;
//     color: white;
//     font-size: 18px;
// }

@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}

.adspace-wrapper {
    width: 100%;
    overflow: hidden;
}

.ad-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: orange;
}

.ad-move {
    animation-name: ticker;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-timing-function: linear;
}

.ad-move:hover{
    animation-play-state: paused;
}

#ad {
    display: inline-block;
    padding: 4px;
    font-family: Helvetica Neue, Helvetica, Arial;
    color: white;
}

#sugar-lane {
    color: brown;
    font-style: italic;
}

#bring-friend {
    color: brown;
    font-family: Brush Script Std;
    font-size: 20px;
    font-weight: 300;
}

#blue-lagoon {
    color: #4fb5cf;
}