.main-header {
    background-color: transparent;
    font-family: Helvetica Neue, Helvetica, Arial;
    height: 64px;
    width: 100%;
    display: inline-block;
    padding: 0px;
}


.greeting {
    text-align: right;
    margin-right: 2%;
    font-size: 25px;
}

.greeting > #hello {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 17px;
}

.greeting > #username {
    font-family: Brush Script Std;
}
