.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#homepics {
    margin: 1em auto;
    width: 382px;
    height: 292px;
}

#homepics img {
    background: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#homepics img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 5s;
    animation-duration: 6s;
    z-index: 20;
}

#homepics img:nth-of-type(2) {
    z-index: 10;
}

#homepics img:nth-of-type(n+3) {
    display: none;
}
 
@keyframes fader {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

//------------------------------------------

.homepage h1 {
    z-index: 100;
    margin-top: 1%;
    position: absolute;
    font-size: 60px;
    font-family: Brush Script Std;
    color: white;
    font-weight: 100;
    transform: rotateZ(-1deg);
    text-shadow:
        -1px -1px 0 rgba(83, 17, 17, 0.578),
        1px -1px 0 rgba(83, 17, 17, 0.578),
        -1px 1px 0 rgba(83, 17, 17, 0.578),
        1px 1px 0 rgba(83, 17, 17, 0.578);
}

.homepage h1 .fa-snowflake {
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.homepage h1:hover {
    cursor: default;
    text-shadow:
        -1px -1px 0 blue,
        1px -1px 0 blue,
        -1px 1px 0 blue,
        1px 1px 0 blue;
}


.homepage .searchbar-container {
    margin-top: 8%;
    z-index: 50;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

#searchbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 600;
    color: #666666;
    width: 850px;
    height: 43px;
    border-radius: 7px;
    background-color: white;
    z-index: 50;
}

#subsearch1 {
    width: 400px;
    margin-left: 6px;
}

#subsearch2 {
    width: 400px;
    margin-left: 6px;
    border-left: 1px solid lightgrey;
}

#subsearch1 input {
    margin-left: 10px;
    width: 300px;
    height: 35px;
    font-size: 18px;
    border: none;
    text-align: center;
}

#subsearch2 input {
    margin-left: 10px;
    width: 300px;
    height: 35px;
    font-size: 18px;
    border: none;
    text-align: center;
}

.searchbar-form {
    display: flex;
    align-items: center;
}

.homepage-categories {
    z-index: 50;
}

.homepage-categories span {
    color: white;
    font-weight: 500;
    font-family: Helvetica Neue, Arial, Helvetica;
}

#restaurants-link {
    margin-right: 15px;
}

#restaurants-link span:hover {
    text-decoration: underline;
    color: white;
    cursor: default;
}

#delivery-link span:hover {
    text-decoration: underline;
    color: white;
    cursor: default;
}

.homepage-categories {
    display: flex;
    flex-direction: row;
}

// ----------------------------------------- MOBILE ----------------------------------------------

@media only screen and (max-device-width: 480px) and (orientation: portrait) {

    #homepics img {
        background: #fff;
        // margin-left: -40%;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    .homepage h1 {
        margin-top: 25%;
        font-size: 100px;
    }

    .homepage .yallr-name .fa-snowflake {
        font-size: 60px;
    }

    .homepage .searchbar-container {
        margin-top: 40%;
    }

    .homepage #searchbar-container {
        margin-bottom: 100px;
        width: 95%;
        display: flex;
    }

    .searchbar-form {
        display: flex;
        align-items: flex-start;
    }

    .homepage-categories {
       margin-top: 65%;
    }

}