.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#homepics {
    margin: 1em auto;
    width: 382px;
    height: 292px;
}

#homepics img {
    background: #fff;
    // min-width: 1024px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#homepics img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 5s;
    animation-duration: 6s;
    z-index: 20;
}

#homepics img:nth-of-type(2) {
    z-index: 10;
}

#homepics img:nth-of-type(n+3) {
    display: none;
}
 
@keyframes fader {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.homepage .searchbar-container {
    margin-top: 8%;
    font-size: 16px;
    z-index: 50;
    position: absolute;
}

.searchbar-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#searchbar-input {
    width: 480px;
    height: 43px;
    border-radius: 7px;
    border: 2px solid white;
}

#searchbar-container {
    display: flex;
    align-items: center;
}

.homepage-categories {
    z-index: 100;
}

.homepage-categories span {
    color: white;
    font-weight: 500;
    font-family: Helvetica Neue, Arial, Helvetica;
}

#restaurants-link {
    margin-right: 15px;
}

#restaurants-link span:hover {
    text-decoration: underline;
    color: white;
}

#delivery-link span:hover {
    text-decoration: underline;
    color: white;
}

// .homepage #searchbar-input {
//     margin-top: 35%;
//     font-size: 16px;
//     z-index: 50;
// }
