.navbar {
    position: relative;
    z-index: 50;
    width: 100%;
}

.navbar .yallr-name {
    text-align: left;
    font-size: 50px;
    font-family: Brush Script Std;
    // color: #C7FFFF;
    color: black;
    font-weight: 100;
    transform: rotateZ(-1deg);
    margin-left: 100px;
    position: static;
    text-decoration: none;
    cursor: pointer;
    // background-color: #FF003C;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.notlogged-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; 
    padding: 7px;
}

.notlogged-left {
    margin-left: 130px;
}

.notlogged-left span {
    padding: 7px 24px 8px;
}

.notlogged-right {
    margin-right: 130px;
    display: flex; 
    // justify-content: space-between;
}

.notlogged-nav span {
    color: white;
    font-weight: 800;
    font-size: 14px;
}

#navlink-login {
    padding: 9px 12px 8px;
}

#navlink-signup {
    padding: 7px 24px 8px;
    border: 2px solid white;
    border-radius: 4px;
}

.loggednav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-left {
    margin-left: 130px;
    padding: 7px 24px 8px;   
}

.nav-left span {
    color: white;
    font-weight: 800;
    font-size: 14px;
}

#add-biz-link {
    margin-right: 15px;
}

#add-biz-link span:hover {
    text-decoration: underline;
    color: white;
}

#add-me-link {
    font-size: 14px;
}

#add-me-link span:hover {
    color: #c7ffff;
}

#add-me-link:hover span {
    display: none;
}

#add-me-link:hover:after {
    content: "Hello !";
    color: #c7ffff;
    font-weight: 600;
}

.loggednav-right {
    margin-right: 160px;
}

.loggednav-right .greeting {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    color: white;
    font-weight: 800;
}

.greeting #username {
    margin-left: 8px;
    color: #C7FFFF;
}

.greeting button {
    margin-left: 15px;
}

.logout {
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
}

.logout:hover {
    background-color: red;
    color: white;
}


// a > span {

// }