.review-form {
    border-radius: 7px;
    margin-top: 20px;
    width: 1000px;
    margin-bottom: 20px;
    // background-color: red;
}

.review-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#please-rate {
    font-size: 15px;
    margin-bottom: 10px;
}

.review-form form span {
    font-size: 17px;
}

#click-stars {
    display: grid;
    margin: 0 auto;
    margin-left: 40%;
}

#click-stars #star-side {
    grid-column: 1;
    width: 150px;
    text-align: left;
}

#click-stars #rating-side {
    grid-column: 2;
    width: 200px;
    height: 100%;
    margin-left: 25px;
}

#rating-side div {
    display: flex;
    align-items: center;
    padding: 1px;
    margin-top: 2px;
}

#rating-side div input{
    margin-left: 10px;
}

.review-form #bizname {
    color: #0073bb;
    font-size: 21px;
}

#comment-holder div {
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
}

#comment-holder input {
    width: 550px;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

#review-button {
    width: 180px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
}

#review-button:hover {
    width: 180px;
    margin: 0 auto;
    color: #0073bb;
    // border-radius: 3px;
    border: 1px solid #0073bb;
}

#cancel-btn {
    width: 180px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#cancel-btn:hover {
    color: red;
    // border-radius: 3px;
    border: 1px solid red;
}

