.review-form {
    padding: 15px;
}

.review-form #bizname {
    color: #0073bb;
    font-size: 21px;
}

// .review-form #comment-holder {
    
// }

.review-form #comment {
    margin-left: 50px;
    width: 900px;
    height: 100px;
    // align-content: center;
}


