.review-form {
    border-radius: 10px;
    margin-top: 20px;
    width: 400px;
    margin-bottom: 20px;
}

.review-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#please-rate {
    font-size: 15px;
    margin-bottom: 10px;
}

.review-form form span {
    font-size: 17px;
}

#click-stars {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // margin-left: -50px;
}

#click-stars #star-side {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
}

#click-stars #rating-side {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
}

#rating-side div {
    display: flex;
    align-items: center;
    padding: 1px;
    margin-top: 2px;
}

#rating-side div input{
    margin-left: 10px;
}

.review-form #bizname {
    color: #0073bb;
    font-size: 21px;
}

#comment-holder div {
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
}

#comment-holder input {
    width: 375px;
    margin: 0 auto;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

#review-button {
    width: 180px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}

#review-button:hover {
    width: 180px;
    margin: 0 auto;
    color: blue;
    // border-radius: 3px;
    border: 1px solid blue;
}

#cancel-btn {
    width: 180px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}

#cancel-btn:hover {
    color: red;
    // border-radius: 3px;
    border: 1px solid red;
}

