.reviews {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 30px;
    font-family: Helvetica Neue, Arial, Helvetica;
}

.reviews span {
    padding: 20px;
}

.reviews #rating {
    font-size: 14;
    // padding: 10px
}

.reviews #stars {
    color: #FF003C;
}

.reviews #comment > {
    font-size: 14;
    // padding: 10px
}

.reviews #username {
    color: #0073bb;
    font-family: Brush Script Std;
    font-size: 20;
    // padding: 10px;
}

.business-review-link {
    padding: 20px;
}
