.reviews-section {
    display: grid;
    margin-left: 8px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 5px;
}


#userprofile {
    grid-column: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 5px;
    width: 200px;
}

.reviews {
    grid-column: 2;
    padding: 30px;
    font-family: Helvetica Neue, Arial, Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 850px;
}

#stars-and-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviews #stars {
    color: #FF003C;
    padding: 3px;  
    text-align: left;
}

.reviews #created_at {
    color: #666666;
    font-size: 14px;
    margin-left: 3px;
}

.reviews #comment > {
    font-size: 14px;
    margin-top: 5px;
}


.reviews-section #username {
    color: #0073bb;
    font-family: Brush Script Std;
    font-size: 20px;
    padding: 5px;
}

// .business-review-link {
//     padding: 20px;
//     color: #FF003C;
//     text-decoration: none;
// }


