.searchbar-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#searchbar-input {
    width: 480px;
    height: 43px;
    border-radius: 7px;
    border: 2px solid white;
}

#searchbar-container {
    display: flex;
    align-items: center;
}

.homepage-categories {
    background-color: red;
    z-index: 100;
}

// input[type=submit] {

// }
