.session-form {
    border-top: 20px solid orange;
    border-bottom: 20px solid orange;
    display: flex;
    justify-content: space-evenly;
    font-family: Brush Script Std;
}

#icecream img {
    z-index: 3;
    width: 400px;
    // padding: 10px;
}

#shotglass img {
    z-index: 3;
    width: 400px;
    max-height: 560px;
    // padding: 10px;
}

#thanks {
    margin-top: 40px;
    color: #4fb5cf;
}

#pleasethisthat {
    margin-top: 20px;
    font-size: 43px;
    margin-bottom: 20px;
}

.session-form div {
    color: black;
    font-size: 45px;
    text-align: center;
}

.session-form-info {
    color: black;
    font-size: 40px;
    font-weight: 100;
}

.session-form-info #center-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.session-form-info label {
    color: #349bc7;
    // color: #4fb5cf;
    font-size: 38px;
}

.session-form-info input {
    margin-left: 5px;
    border-radius: 4px;
}

.session-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.session-form-button input {
    padding: 5px;
    border-radius: 4px;
    width: 100px;
}

.session-form-button input:hover {
    background-color: #0E87FF;
    color: white;
    font-weight: 700;
}

#or {
    margin-top: 10px;
}

#icecream {
    background-color: red;
}

#shotglass {
    background-color: red; 
}

.alt-session-form-button navLink {
    color: red;
}